@*@model IEnumerable<e_commerce.Models.Product>

@{
    ViewData["Title"] = "Home Page";
}*@



@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Ecommerce Project</h1>
    <p>Click Here to Navigate to <a href="https://localhost:7273/product">Product List</a>.</p>
</div>

